.colors {
  --primaryc: #0b443f;
  --dark: #222222;
  --muted: #777777;
  --light: #f8fdfa;
}

.profile-box {
  width: 190px;
  height: 190px;
  border-radius: 10%;
  overflow: hidden;
  object-fit: cover;
  margin-top: 1rem; 
  margin-left: auto;
  margin-right: auto; 
  border: 1px solid var(--muted); 
}
.text-primaryc {
  color: var(--primaryc);
}


.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

