<<<<<<< HEAD
/* ================= ROOT VARIABLES ================= */
:root {
    --primary: #46a462;
    --primaryc: #0b443f;
    --dark: #222222;
    --muted: #777777;
    --light: #f9f9f9;
    --light-soft: #f8fdfa;
}

/* ================= SECTION TITLES ================= */
.section-title {
    color: var(--primary);
    font-weight: bold;
}

/* ================= TASK CARDS ================= */
.task-card {
    background-color: var(--light);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.task-card p {
    color: var(--dark);
    font-weight: 500;
}

.task-card span {
    color: var(--primary) !important;
}

.task-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(8, 82, 76, 0.1);
    background-color: #ffffff;
}

/* ================= PROFILE / MEMBERS ================= */
.profile-box {
    width: 190px;
    height: 190px;
    border-radius: 10%;
    overflow: hidden;
    object-fit: cover;
    margin: 1rem auto;
    border: 1px solid var(--muted);
}

.text-primaryc {
    color: var(--primaryc);
}

/* ================= CARDS EFFECT ================= */
.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
}
=======
.colors {
  --primaryc: #0b443f;
  --dark: #222222;
  --muted: #777777;
  --light: #f8fdfa;
}
.navbar {
    background-color: #007A3D;
}

.btn-outline-primary {
    border-color: #FFFFFF;
    color: #000000;
    background-color: transparent;
    box-shadow: none;
}

   
    .btn-outline-primary:hover {
        background-color: #FFFFFF;
        color: #007A3D;
    }


.navbar-nav .nav-link {
    color: #FFFFFF;
}


.dropdown-menu {
    background-color: #ffffff;
    border: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.dropdown-item {
    color: #333333;
    font-size: 15px;
    padding: 8px 16px;
}

    .dropdown-item:hover {
        background-color: #F0F0F0;
        color: #007A3D;
    }


.btn-icon {
    background-color: #FFFFFF;
    border: none;
    padding: 4px;
    border-radius: 6px;
    box-shadow: none;
}
.section-title {
    color: #007A3D;
}
>>>>>>> a6443b794b2365a45eb4c08b22926d831adcea05
